<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=egde">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Document</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/index.css"></head>
<body>
	<header id="main-header">
		<div class="container">
			<nav class="navbar navbar-default navbd">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">
							<img src="https://botlist.co/images/botlist-logo.svg"></a>
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="#">Articles</a>
						</li>
						<li>
							<a href="#">Create a Bot</a>
						</li>
						<li>
							<a href="#">Submit a Bot</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#">Browse</a>
						</li>
						<li>
							<a href="#">Login</a>
						</li>
						<li>
							<a href="#">Register</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
		<div class="sec-head">
			<h2>An App Store For Bots</h2>
			<img src="https://botlist.co/images/platform-list.svg" class="head-img"></div>
		<div class="row">
			<div class="col-md-6 col-md-push-3">
				<div class="form-group ">
					<form class="form-horizontal">
						<input type="text" name="" value="" placeholder="These aren't the droids we're looking for." class="input-lg input-de">
						<button type="submit" class="btn btn-lg btn-de">SEARCH</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="container" id="content">
	<div class="row">
		<div class="col-xs-2 sidebar hidden-xs">
			<article>
				<h2>PLARFORMS</h2>
				<ul class="list-unstyled text-capitalize">
					<li>
						<a>android</a>
					</li>
					<li>
						<a>email</a>
					</li>
					<li>
						<a>facebook&nbsp;&nbsp;messenger</a>
					</li>
					<li>
						<a>iPhone</a>
					</li>
					<li>
						<a>Kik</a>
					</li>
					<li>
						<a>slack</a>
					</li>
					<li>
						<a>SMS</a>
					</li>
					<li>
						<a>telegram</a>
					</li>
					<li>
						<a>web</a>
					</li>
				</ul>
			</article>
			<article>
				<h2>CATEGORIES</h2>
				<ul class="list-unstyled text-capitalize">
					<li>
						<a>build a bot</a>
					</li>
					<li>
						<a>analytics</a>
					</li>
					<li>
						<a>communication</a>
					</li>
					<li>
						<a>customer support</a>
					</li>
					<li>
						<a>design</a>
					</li>
					<li>
						<a>developer tools</a>
					</li>
					<li>
						<a>file management</a>
					</li>
					<li>
						<a>health</a>
					</li>
					<li>
						<a>HR</a>
					</li>
					<li>
						<a>marketing</a>
					</li>
					<li>
						<a>office Management</a>
					</li>
					<li>
						<a>payments</a>
					</li>
					<li>
						<a>personal</a>
					</li>
					<li>
						<a>productivity</a>
					</li>
					<li>
						<a>security</a>
					</li>
					<li>
						<a>social & fun</a>
					</li>
					<li>
						<a>task management</a>
					</li>
					<li>
						<a>travel</a>
					</li>
				</ul>
			</article>
		</div>
		<div class="col-lg-10 col-xs-12 main-content text-capitalize">
			<article>
				<h2>FEATURED BOTS</h2>

				<div class="row">
					<div class="col-sm-4 col-xs-12">
						<div class="bot">
							<div class="row">
								<div class="col-sm-4 col-xs-4">
									<a href="#">
										<img class="bot-img" src="../img/1.png"></a>
								</div>
								<div class="col-sm-8 paddleft">
									<h3>chatfuel</h3>
									<p>build a bot</p>
									<div>
										<img src="../img/bot1.svg">
										<img src="../img/bot2.svg"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12">
						<div class="bot">
							<div class="row">
								<div class="col-sm-4 col-xs-4">
									<a href="#">
										<img class="bot-img" src="../img/2.png"></a>
								</div>
								<div class="col-sm-8 paddleft">
									<h3>botgig</h3>
									<p>build a bot</p>
									<div>
										<img src="../img/bot1.svg">
										<img src="../img/bot3.png">
										<img src="../img/bot4.svg">
										<img src="../img/bot5.svg"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12">
						<div class="bot">
							<div class="row">
								<div class="col-sm-4 col-xs-4">
									<a href="#">
										<img class="bot-img" src="../img/3.png"></a>
								</div>
								<div class="col-sm-8 paddleft">
									<h3>Smooch for Messenger</h3>
									<p>build a bot</p>
									<div>
										<img src="../img/bot1.svg"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12">
						<div class="bot">
							<div class="row">
								<div class="col-sm-4 col-xs-4">
									<a href="#">
										<img class="bot-img" src="../img/4.png"></a>
								</div>
								<div class="col-sm-8 paddleft">
									<h3>Botlytics</h3>
									<p>build a bot +3</p>
									<div>
										<img src="../img/bot5.svg"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12">
						<div class="bot">
							<div class="row">
								<div class="col-sm-4 col-xs-4">
									<a href="#">
										<img class="bot-img" src="../img/5.png"></a>
								</div>
								<div class="col-sm-8 paddleft">
									<h3>Messenger Platform</h3>
									<p>build a bot</p>
									<div>
										<img src="../img/bot1.svg"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12">
						<div class="bot">
							<div class="row">
								<div class="col-sm-4 col-xs-4">
									<a href="#">
										<img class="bot-img" src="../img/6.gif"></a>
								</div>
								<div class="col-sm-8 paddleft">
									<h3>Bot Platform 2.0</h3>
									<p>build a bot</p>
									<div>
										<img src="../img/bot2.svg"></div>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article>
					<h2>FEATURED BOTS</h2>

					<div class="row">
						<div class="col-sm-4 col-xs-12">
							<div class="bot">
								<div class="row">
									<div class="col-sm-4 col-xs-4">
										<a href="#">
											<img class="bot-img" src="../img/7.jpg"></a>
									</div>
									<div class="col-sm-8 paddleft">
										<h3>And Chill</h3>
										<p>personal +1</p>
										<div>
											<img src="../img/bot1.svg">
											<img src="../img/bot9.svg"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 col-xs-12">
							<div class="bot">
								<div class="row">
									<div class="col-sm-4 col-xs-4">
										<a href="#">
											<img class="bot-img" src="../img/8.png"></a>
									</div>
									<div class="col-sm-8 paddleft">
										<h3>Kitbot</h3>
										<p>personal +1</p>
										<div>
											<img src="../img/bot1.svg">
											<img src="../img/bot9.svg"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 col-xs-12">
							<div class="bot">
								<div class="row">
									<div class="col-sm-4 col-xs-4">
										<a href="#">
											<img class="bot-img" src="../img/9.png"></a>
									</div>
									<div class="col-sm-8 paddleft">
										<h3>Surveybot</h3>
										<p>marketing</p>
										<div>
											<img src="../img/bot1.svg"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 col-xs-12">
							<div class="bot">
								<div class="row">
									<div class="col-sm-4 col-xs-4">
										<a href="#">
											<img class="bot-img" src="../img/10.jpg"></a>
									</div>
									<div class="col-sm-8 paddleft">
										<h3>Air Meekan</h3>
										<p>travel</p>
										<div>
											<img src="../img/bot1.svg"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 col-xs-12">
							<div class="bot">
								<div class="row">
									<div class="col-sm-4 col-xs-4">
										<a href="#">
											<img class="bot-img" src="../img/11.png"></a>
									</div>
									<div class="col-sm-8 paddleft">
										<h3>Emojify</h3>
										<p>social & fun</p>
										<div>
											<img src="../img/bot8.svg">
											<img src="../img/bot2.svg">
											</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 col-xs-12">
							<div class="bot">
								<div class="row">
									<div class="col-sm-4 col-xs-4">
										<a href="#">
											<img class="bot-img" src="../img/12.png"></a>
									</div>
									<div class="col-sm-8 paddleft">
										<h3>Unsplash</h3>
										<p>social & fun +1</p>
										<div>
											<img src="../img/bot8.svg"></div>
									</div>
								</div>
							</div>
						</div>
					</article>
					<article>
						<h2>FEATURED BOTS</h2>

						<div class="row">
							<div class="col-sm-4 col-xs-12">
								<div class="bot">
									<div class="row">
										<div class="col-sm-4 col-xs-4">
											<a href="#">
												<img class="bot-img" src="../img/13.png"></a>
										</div>
										<div class="col-sm-8 paddleft">
											<h3>Troops</h3>
											<p>analytics +1</p>
											<div>
												<img src="../img/bot8.svg">
												</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4 col-xs-12">
								<div class="bot">
									<div class="row">
										<div class="col-sm-4 col-xs-4">
											<a href="#">
												<img class="bot-img" src="../img/14.png"></a>
										</div>
										<div class="col-sm-8 paddleft">
											<h3>Baxter</h3>
											<p>productivity +1</p>
											<div>
												<img src="../img/bot8.svg">
												</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4 col-xs-12">
								<div class="bot">
									<div class="row">
										<div class="col-sm-4 col-xs-4">
											<a href="#">
												<img class="bot-img" src="../img/15.png"></a>
										</div>
										<div class="col-sm-8 paddleft">
											<h3>Cache</h3>
											<p>personal +1</p>
											<div>
												<img src="../img/bot9.svg"></div>
										</div>
									</div>
								</div>
							</div>

						</article>
					</div>
				</div>
			</div>
			<footer class="text-center">
				<div class="container">
					<h3>As Seen On</h3>
					<hr>
					<div class="row">
						<div class="col-sm-3 col-xs-6">
							<img src="../img/techcrunch.svg"></div>
						<div class="col-sm-3 col-xs-6">
							<img src="../img/tnw.svg"></div>
						<div class="col-sm-3 col-xs-6">
							<img src="../img/digital-trends.svg"></div>
						<div class="col-sm-3 col-xs-6">
							<img src="../img/engadget.svg"></div>
					</div>
					<div class="row copyright">
						<div class="col-sm-6 text-left">@BotList2016,A Marketing Stack Ltd Company</div>
						<div class="col-sm-6 text-right">
							Built BY:
							<a href="#">@bentosssel,</a>
							<a href="#">@sechlouey,</a>
							<a href="#">@mubashariqbal</a>
						</div>

					</div>
				</div>
			</footer>
</body>
			<script type="text/javascript" src="../js/jquery.min.js"></script>
			<script type="text/javascript" src="../js/bootstrap.min.js"></script>
			<script type="text/javascript" src="../js/index.js"></script>
		</html>